.mana-w,.mana-u,.mana-b,.mana-r,.mana-g,.mana-wp,.mana-up,.mana-bp,.mana-rp,.mana-gp,.mana-2w,.mana-2u,.mana-2b,.mana-2r,.mana-2g,.mana-wu,.mana-ub,.mana-br,.mana-rg,.mana-gw,.mana-wb,.mana-bg,.mana-gu,.mana-ur,.mana-rw,.mana-0,.mana-1,.mana-2,.mana-3,.mana-4,.mana-5,.mana-6,.mana-7,.mana-8,.mana-9,.mana-10,.mana-11,.mana-12,.mana-13,.mana-14,.mana-15,.mana-16,.mana-17,.mana-18,.mana-19,.mana-20,.mana-x,.mana-y,.mana-t,.mana-q,.mana-s{
	position:relative;
	top:2px;
	display:inline-block;
	overflow:hidden;
	margin:0;
	padding:0;
	width:15px;
	height:15px;
	background:url('mana-symbols.png') no-repeat 0 0;
	vertical-align:baseline;
	font-size:0;
	line-height:0;
	*display:inline;
	*zoom:1
}

.mana-w{
	background-position:0 0
}
.mana-u{
	background-position:-15px 0
}.mana-b{
	background-position:-30px 0
}.mana-r{background-position:-45px 0}.mana-g{background-position:-60px 0}.mana-wp{background-position:0 -15px}.mana-up{background-position:-15px -15px}.mana-bp{background-position:-30px -15px}.mana-rp{background-position:-45px -15px}.mana-gp{background-position:-60px -15px}.mana-2w{background-position:0 -30px}.mana-2u{background-position:-15px -30px}.mana-2b{background-position:-30px -30px}.mana-2r{background-position:-45px -30px}.mana-2g{background-position:-60px -30px}.mana-wu{background-position:0 -45px}.mana-ub{background-position:-15px -45px}.mana-br{background-position:-30px -45px}.mana-rg{background-position:-45px -45px}.mana-gw{background-position:-60px -45px}.mana-wb{background-position:0 -60px}.mana-bg{background-position:-15px -60px}.mana-gu{background-position:-30px -60px}.mana-ur{background-position:-45px -60px}.mana-rw{background-position:-60px -60px}.mana-0{background-position:0 -75px}.mana-1{background-position:-15px -75px}.mana-2{background-position:-30px -75px}.mana-3{background-position:-45px -75px}.mana-4{background-position:-60px -75px}.mana-5{background-position:0 -90px}.mana-6{background-position:-15px -90px}.mana-7{background-position:-30px -90px}.mana-8{background-position:-45px -90px}.mana-9{background-position:-60px -90px}.mana-10{background-position:0 -105px}.mana-11{background-position:-15px -105px}.mana-12{background-position:-30px -105px}.mana-13{background-position:-45px -105px}.mana-14{background-position:-60px -105px}.mana-15{background-position:0 -120px}.mana-16{background-position:-15px -120px}.mana-17{background-position:-30px -120px}.mana-18{background-position:-45px -120px}.mana-19{background-position:-60px -120px}.mana-20{background-position:0 -135px}.mana-x{background-position:-15px -135px}.mana-y{background-position:-30px -135px}.mana-t{background-position:0 -150px}.mana-q{background-position:-15px -150px}.mana-s{background-position:-30px -150px}